<!--
Shoo, hacker.
-->
<!DOCTYPE html>
<html lang="en">
<!-- font awesome CDN -->
<script defer src="https://use.fontawesome.com/releases/v5.0.9/js/solid.js" integrity="sha384-P4tSluxIpPk9wNy8WSD8wJDvA8YZIkC6AQ+BfAFLXcUZIPQGu4Ifv4Kqq+i2XzrM" crossorigin="anonymous"></script>
<script defer src="https://use.fontawesome.com/releases/v5.0.9/js/brands.js" integrity="sha384-qJKAzpOXfvmSjzbmsEtlYziSrpVjh5ROPNqb8UZ60myWy7rjTObnarseSKotmJIx" crossorigin="anonymous"></script>
<script defer src="https://use.fontawesome.com/releases/v5.0.9/js/fontawesome.js" integrity="sha384-2IUdwouOFWauLdwTuAyHeMMRFfeyy4vqYNjodih+28v2ReC+8j+sLF9cK339k5hY" crossorigin="anonymous"></script>

<style type="text/css">
div {
    text-align: justify;
    text-justify: inter-word;
}
</style>
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>tech company donations</title>
  <meta name="description" content="Donations by tech companies to U.S. politicians">
  <meta name="author" content="probably like someone famous">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/skeleton.css">

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="images/favicon.png">

</head>
<body>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div class="container">
    <div class="row">
      <div class="one-half column" style="margin-top: 20%">
        <h2>
	  {% for company, logo in logos.items() %}
	  <a href="{{ company }}.html">{{ logo }}</a>&ensp;
	  {% if loop.index0 > 0 and not loop.index0 % 5 %} <br /> {% endif %}
	  {% endfor %}
	  <!--<i class="fab fa-apple"></i>-->
	</h2>
	<p>
	  In the United States, <abbr title="Political Action Committees">PACs</abbr> are allowed to
	  donate up to $5000 to political candidates each year. Many big tech companies have their
	  own PAC and donate the maximum allowed. These donations are visible in the public
	  record, so I looked up some of them. Pick your company above and check it out!</p>
	<p>
	  Didn't realise the company you worked for was doing this? Don't think that your company
	  should have a PAC? <b>Make your voice heard!</b>
	</p>

	<h4>FAQ</h4>
	<p>
	  <i class="fas fa-chevron-right"></i>&emsp;Everyone else is doing it, why shouldn't we?
	  <br />
	  Actually, <i class="fab fa-apple"></i> is doing just
	  fine <a href="https://www.apple.com/public-policy-advocacy/">without a PAC</a>.
	</p>
	<p>
	  <i class="fas fa-chevron-right"></i>&emsp;But $MY_COMPANY donates to $SOMEONE as well!
	  <br />
	  Two wrongs don't make a right. If they didn't have a PAC at all this wouldn't be a problem.
	</p>
	<p>
	  <i class="fas fa-chevron-right"></i>&emsp;Why are all the donations so... small?
	  <br />
	  <a href="https://www.fec.gov/help-candidates-and-committees/making-disbursements-pac/contribution-limits-nonconnected-pacs/">Legal
	  limits</a> on how much PACs can donate.
	</p>
	<p>
	  <i class="fas fa-chevron-right"></i>&emsp;How can I help?
	  <br />
	  <a href="https://github.com/katrielalex/fec-filings-analysis/blob/gh-pages/donations.yaml">Pull
	  requests</a> gratefully accepted, particularly to add more companies! Or
	  just <a href="/contact.html">ping me</a>.
	</p>
      </div>
    </div>
  </div>

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>
